<div class="modal fade" id="modalAddwishlist" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-muted">New wishlist</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body margin-top-1x">
        <%= simple_form_for (@wishlist) do |f| %>
            <%= f.input :title, class: 'form-control', placeholder: 'Ex: bedroom, table for living-room' %>
            <%= f.input :description, class: 'form-control', placeholder: 'Ex: A beautifull table for living-room' %>
            <br>
          <div class="form-inputs">
            <%= f.button :submit, "Create", class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
