<div class="container">
  <h1>VOTRE PROFIL</h1>
  <p>Mettre les infos du profil. First name, Last name et avatar</p>
  <p>Vos whislists</p>
  <br>
  <br>
  <% @wishlists.each do |wishlist| %>
  <div class="col-lg-4 margin-bottom-1x">
    <div class="card text-center">
      <div class="card-block">
        <h4 class="card-title"> <%= wishlist.title %> </h4>
        <p class="card-text"> <%= wishlist.description %> </p><a class="btn btn-outline-primary btn-sm" href="#">See this wishlist</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
