.slider {
  .tooltip.top {
    opacity: 1;
  }

  .tooltip-max, .tooltip-min {
    opacity: 0 !important;
  }
}

#txt1 {
  margin-bottom: 40px;
}

#txt2 {
  margin-bottom: 40px;
}


#txt3 {
  margin-bottom: 40px;
}

#first-slider {
  margin-top: 40px;
}
