<div class="col-xs-12 col-sm-3">
  <div class="product-card">
    <%= image_tag furniture.photo, class: "product-thumb" %>
    <h3 class="product-title"><a href="shop-single.html"><%= furniture.title %></a></h3>
    <h4 class="product-price">
    <%= humanized_money(furniture.price) %> €
    </h4>
    <div class="product-buttons">
      <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i class="icon-heart"></i></button>
      <%= link_to "Buy", furniture.url, class: "btn btn-outline-primary btn-sm" %>
    </div>
  </div>
</div>


