

<!-- Site Footer-->

<footer class="site-footer">
  <div class="container">
    <div class="row">


      <div class="col-md-5 padding-bottom-1x">
        <div class="margin-top-1x hidden-md-up"></div>
        <!--Subscription-->
        <form class="subscribe-form" action="//rokaux.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=1194bb7544" method="post" target="_blank" novalidate>
          <div class="clearfix">
            <div class="input-group input-light">
              <input class="form-control" type="email" name="EMAIL" placeholder="Your e-mail"><span class="input-group-addon"><i class="icon-mail"></i></span>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
            </div>
            <button class="btn btn-primary" type="submit"><i class="icon-check"></i></button>
          </div><span class="form-text text-sm text-white opacity-50"></span>
        </form>
      </div>

      <div class="col-md-7 padding-bottom-1x text-right">
        <a class="social-button shape-circle sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a>
        <a class="social-button shape-circle sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a>
        <a class="social-button shape-circle sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a>
        <a class="social-button shape-circle sb-github sb-light-skin" href="#"><i class="socicon-github"></i></a>
      </div>




    </div>
    <!-- Copyright-->
    <p class="footer-copyright text-center">© All rights reserved. Made with &nbsp;<i class="icon-heart text-danger"></i><a href="https://lewagon.org/" target="_blank"> &nbsp;le wagon</a></p>
  </div>
</footer>
