<section class="hero-slider" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.3) 50%), url('https://static.pexels.com/photos/403571/pexels-photo-403571.jpeg');">
  <div class="large-controls dots-inside">
    <div class="item">
      <div class="container padding-top-3x">
        <div class="row align-items-center">
          <div class="col-xs-12 col-md-12 text-center">
            <div class="from-bottom">
              <%= image_tag "logo_blue.png", class: "d-inline-block w-200 mb-4" %>
              <div class="h2 text-body text-normal mb-2 pt-1">Easy way to find furniture with size</div>
            </div>
            <a class="btn btn-primary scale-up delay-1" href="#">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
