<section class="hero-slider" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.3) 50%), url(<%= image_path 'banner_4.png' %>);">
  <div class="large-controls dots-inside">
    <div class="item">
      <div class="container padding-top-3x">
        <div class="row align-items-center">
          <div class="col-xs-12 col-sm-12 text-center">
            <br>
            <br>
            <br>
            <br>
            <div class="from-bottom">
              <%= image_tag "logo_blue.png", class: "d-inline-block w-200 mb-4" %>
              <div class="h2 text-body text-normal mb-2 pt-1 text-white"><h2 class="text-white">Easy way to find furniture by size</h2></div>
            </div>
            <br>
            <br>
            <button class="btn btn-primary " data-toggle="modal" data-target="#modal" title="search">Select the perfect size<i class="icon-arrow-right"></i></button>
            <% content_for :modals do %>
              <%= render 'modal_form' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
