<div class="offcanvas-wrapper">
  <%= render 'banner' %>
    <a href="#" class="btn btn-outline-primary btn-sm">DE LA MERDE</a>
     <div class="btn btn-outline-primary btn-sm">
     <p>toto</p>
     </div>
