<div class="container">
<div class="wishlist-title"><h1><strong><%= @wishlist.title %></strong></h1></div>
<div class="wishlist-description"><p> <%= @wishlist.description %></p></div>
<%= link_to "Supprimer la wishlist", wishlist_path(@wishlist), :method => 'delete' %>

<div class="row">
<% @furnitures.each do |furniture| %>
 <%= render 'furnitures/card', furniture: furniture %>
<% end %>
</div>


</div>
