<div class="page-title">
  <div class="container">
    <div class="column">
      <h1><%= @wishlist.title %></h1>
    </div>
    <div class="column">
      <ul class="breadcrumbs">
        <li>
          <%= link_to "Supprimer la wishlist", wishlist_path(@wishlist), :method => 'delete' %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="wishlist-description"><h4> <%= @wishlist.description %></h4></div>
  <div class="row">
    <% @furnitures.each do |furniture| %>
    <%= render 'furnitures/card', furniture: furniture %>
    <% end %>
  </div>
</div>
