.navbar {
  height: 70px;
  margin-bottom: 0px;

}

.site-logo {
  height: 40px;
}

.toolbar .account>.toolbar-dropdown {
  left: 100%;
  margin-left: -200px;
}

.toolbar-dropdown {
  margin-top: 7px !important;
  text-align: right;
}

.menu_login {
    padding: 0 15px;
    transition: color .3s;
    color: #606975;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    height: 100%;
    min-height: 100%;
    border-top: 1px solid transparent;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.menu_login:hover {
    transition: color .3s;
    color: #10A7EF;
    text-decoration: none;
}

.avatar {
    border-radius: 50%
}

