// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


// overide thème

.btn {
    display: inline-block;
    position: relative;
    height: 44px;
    margin-top: 8px;
    margin-right: 12px;
    margin-bottom: 8px;
    padding: 0 22px;
    transform: translateZ(0);
    transition: all .4s;
    border: 1px solid transparent;
    border-radius: 22px;
    background-color: transparent;
    background-image: none;
    color: #606975;
    font-family: "Maven Pro",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .07em;
    line-height: 42px;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    user-select: none;
}

.btn-primary {
    background-color: #0da9ef;
}

.btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    color: #fff;
}

.presentation {
  text-align: center;
}

.mail {
  text-align: center;
}
