//@import "config/bootstrap_variables";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "furnitures/index";
@import "simple_form_extension";

.facebook-btn {
  background-color: #3B5798;
  color: white;
}

.padding-left-1x {
  padding-left: 50px;
}

.padding-right-1x {
  padding-right: 50px;
}

.padding-left-2x {
  padding-left: 100px;
}

.padding-right-2x {
  padding-right: 100px;
}

.padding-1x {
  padding: 30px;
}

.padding-2x {
  padding: 60px;
}

.img-total-width {
  width: 100%;
  padding: 50px
}

.padding-left-title {
  padding-left: 15px;
}

.padding-left-title {
  padding-left: 15px;
  padding-right: 15px;
}

.paddind-categroy {
  padding-top: 0;
}

.btn {
  margin-top: 0px;
}

.white {
  color: white;
}

