<div class="offcanvas-wrapper">
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="col-xs-12 col-sm-4">
        <br>
        <br>
        <br>
        <br>
        <br>
        <p class="text-center">Hello <%= @resource.email %>!</p>

        <p class="text-center">We're contacting you to notify you that your password has been changed.</p>
      </div>
    </div>
  </div>
</div>
