<h1>Furnitures#index</h1>
<p>Find me in app/views/furnitures/index.html.erb</p>

<% @furnitures.each do |furniture| %>
  <p> <%= furniture.title %> </p>
  <p> <%= furniture.description %> </p>
  <br>
<% end %>
